<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<meta charset="utf-8">
	<title>Info</title>
</head>
<body>
	<style type="text/css">
		body{
			background-color: black;
			color: white;
			text-align: center;
		}
		.b5 {
			color: green;
		}
		
  		footer{
			color: white;
			position: relative;
			bottom: -200px;
		}
		.city1{
			color: black;
		}
		.state1{
			color: black;
		}
		#title{
			background-color: blue;
			padding: 5px;
		}
	</style>
	<div id="title">
		<h1 class="title"> PLACES </h1>
	</div>


	<h2>Search Area</h2>
	<br>
	<form action = "/processform">
		<input type="text" class=city1 name="city" placeholder="enter city">
		<input type="text" class=state1 name="state" placeholder="enter state">
			<button class="b5">Go!</button>
	</form>
	
	<div id="right">
		<h1>Details:</h1>
		<table class="table">
			{% for num in location %}
			<tr><td> {{num}} </td></tr>
			{% endfor %}
		</table>

		<h2>{{place}}</h2>
	</div>

	<style type="text/css">
		#right{
			float: right;
			width: 50%;
		}
		#map{
			
			margin: 25px;
		}
	</style>

	<div id="left">
		<script type="text/javascript">
			function initMap(){
				var city = {lat: {{lat}}, lng: {{lng}}};
				var map = new google.maps.Map(document.getElementById('map'),{
						zoom: 13,
						center: city
					});
			}
		</script>
	</div>


	<script>
    function initMap() {
    var Decorah = {lat: 43.3111, lng: -91.8036};
    var map = new google.maps.Map(document.getElementById('map'), {
       	zoom: 13,
        center: Decorah
       });
    }
	</script>


	<script type="text/javascript">
		function initMap(){
			var city = {lat: {{lat}}, lng: {{lng}}};
			var map = new google.maps.Map(document.getElementById('map'),{
					zoom: 13,
					center: city
				});
		}
	</script>

	<!--<input type="text" name="city" placeholder="enter city">
	<input type="text" name="state" placeholder="enter state">
	<button class="b5">Go!</button>-->


	


	<div id="map" class="thisMap" style="width:600px;height:400px;"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCANwUbNqn7nOnqcwUG2p2PX5O0cg7sINE&libraries=places&callback=initMap" async defer></script>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<footer>
	created by Mitchell Petellin and Andrew Millan
	</footer>
</body>
</html>