<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="final.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<meta charset="utf-8">
	<title>Info</title>
</head>
<body>
	<h1>Search Area</h1>
	<br>
	<form action = "/processform">
		<input type="text" name="city" placeholder="enter city">
		<input type="text" name="state" placeholder="enter state">
			<button>Go!</button>
	</form>
	<h1>Details:</h1>
	
	<table class="table table-striped">
		{% for num in location %}
		<tr><td> {{num}} </td></tr>
		{% endfor %}
	</table>

	<div id="map" class="thisMap" style="width:600px;height:400px;"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCANwUbNqn7nOnqcwUG2p2PX5O0cg7sINE&libraries=places&callback=initMap" async defer></script>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
</body>
</html>