h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}


body { 
	max-width: 75%;
    margin: auto;
    
    padding: 10px;
    background-color: black;
    text-align: center;	
}

