<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link  rel="stylesheet" type="text/css" href="330Final/templates/final.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		


	</head>
	<body>
		<h1>Login</h1>
		<div name="this1">
			<form action = "/">
				<br>
				<input type="text" name="user" placeholder="user name">
				
				<br>
				<input type="password" name="password" placeholder="password">
				<br>
				<label for="robot">I am not a robot</label>
				<input type="checkbox" id="robot" name="robot" value="check">
				<br>
				<button name="Enter">ENTER!</button>
				<br>
			</form>
			<form action = "/newuser">
				<button name="b2">If new User click here to create account</button>
			</form>
			{{message}}
		</div>

		

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>