<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<meta charset="utf-8">

	<title>New User</title>
</head>
<body>
	<style type="text/css">
		body{
			background-color: black;
			color: white;
			text-align: center;
		}
		.b4{
			color: green;
		}
		.first2{
			color: black;
		}
		.last2{
			color: black;
		}
		.user2{
			color: black;
		}
		.password2{
			color: black;
		}
		#title{
			background-color: blue;
			padding: 5px;
		}
		footer{
			color: white;
			position: relative;
			bottom: -100px;
		}
	</style>
	<div id="title">
		<h1 class="title"> PLACES </h1>
	</div>
	<h2>Welcome</h2>
	<p>Hello welcome to "PLACES" we are happy that you are joining our community</p>
	<form action = "/newuser">
		<input type="text" class="first2" name="first" placeholder="First Name">
		<br>
		<input type="text" class="last2" name="last" placeholder="Last Name">
		<br>
		<br>
		<input type="text" class="user2" name="user" placeholder="Username">
		
		<br>    
		<input type="text" class="password2" name="password" placeholder="Password">
		<br>
		<br>
		<button class="b4">Create User</button>
	</form>
	{{message}}




	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<footer>
	created by Mitchell Petellin and Andrew Millan
	</footer>
</body>
</html>